body{
    padding: 0;
    margin: 0;
}
.header {
    padding: 1px 0;
    margin: 0;
    background-color: #284d2c;
    width: 100%;
    
}
h3 {
    margin: 1px 0;
    color: aliceblue;
    text-align: center;
}
.navbar{
    background-color: rgb(228, 211, 211);
    width: 100%;
    height: 50px;
    margin: 0;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    float: right;
}
.navbar ul li{
    display: inline-block;
    list-style:none;
    position: relative;

}
.navbar ul li a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 20px 15px;
}
.navbar ul li a:hover{
    background-color: #284d2c;
    color: white;
}
.home {
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 20px;
    color: #144919;
    margin: auto 20px;
}
.active{
    background-color: #284d2c;
    color: white;
    padding: 20px 15px;
}
.banner{
    border: 0.2px solid;
    color: rgb(40, 77, 44, .6);
    height: 75vh;
    background-image: url('latar.jpg');
    background-size: cover;
    position: relative;
    display: block;
}
.banner::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(40, 77, 44, .6);
}
.banner h2,h1{
    width: 100%;
    z-index: 1;
    color: white;
    margin: auto;
    position: relative;
    text-align: center;
}
.banner h2{
    height: 100px;
    margin-top: 50px;
    font-size: 33px;
    border: 1px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner h1 {
    font-size: 40px;
    justify-content: center;
}